 /*/!\ PALET STYLE /!\*/
.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.white                 { color: white;}
.black                 { color: black;}


/*Style on non reusable items*/

header {
  background-color: #0097a7;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-image: url("../images/back-pattern.png");
}
header nav ul {
  padding-left: 0px;
  margin: 0;
}
header nav ul li {
  padding: 0 40px;
}
header nav ul li a {
  font-size: 22px;
}
footer ul {
  padding-left: 0px;
  margin: 0;
}
footer ul li{
  padding-left: 50%;
}
footer {
  padding-top: 5%;
}
/*/////////////////////////////*/


/*   /!\ PROGRESS BAR /!\    */
.tooltip{
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
.popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

/*section{
  margin:100px auto;
  height:1000px;
}*/
.progress{
  border-radius:0;
  overflow:visible;
}
.progress-bar{
   background:rgb(23,44,60);
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.progress-bar {
  /*margin-top: 10px;*/
  margin-left: 2px;
  border-radius: 2px;
  height: 30px;
}

/*     ///////////////////   */
#premier {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
}
.first-part {
  /*background: -webkit-linear-gradient(0deg, rgb(58, 123, 213), rgb(96, 125, 139));*/
  /*background: linear-gradient(180deg, rgb(58, 123, 213), rgb(96, 125, 139));*/
  background: url('../images/work-station-1.jpg');
  background-size: cover;
}
.list-no-style {
  list-style: none;
}
.link-no-style {
  text-decoration: none;
}
.navbar .navbar-brand:hover {
  color:#757575;
  text-decoration: none;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container-right {
  display: flex;
  /*justify-content: left;*/
  align-items: right;
  flex-direction: column;
}
.flex-container-left {
  display: flex;
  /*justify-content: right;*/
  align-items: left;
  flex-direction: column;
}
.flex-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container-perso {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.half-size {
  width: 50%;
}
.min-size-small {
  min-width: 250px;
}

/*.second-part {
  background: -webkit-linear-gradient(90deg, rgb(96, 125, 139), rgb(58, 123, 213));
  background: linear-gradient(180deg, rgb(96, 125, 139), rgb(58, 123, 213));
}*/
.section-container-full-height {
  padding: 0 10%;
  height: 100vh;
}
.section-container{
  padding: 1% 10%;
}
   /*    /!\ CARDS /!\    */

.card{
  height: 200px;
  width: 400px;
  border-radius: 0;
  padding: 0;
}
.csgo {
  background: url('../images/csgo.jpg');
  background-size: cover !important;
  /*background-position: center;*/
  border-bottom: 1px solid white;
  /*border-left: 1px solid white;*/
}
/*.csgo:hover {
  transform:scale(1.5,1.5);
  transition-duration: 0,3s;
}*/

.lol {
  background: url('../images/leagueoflegends.jpg');
  background-size: cover !important;
  background-position: center;
  border-bottom: 1px solid white;
}
.sport {
  background: url('../images/rugby-lou.jpg');
  background-size: cover !important;
  background-position: center;
  border-bottom: 1px solid white;
}
.online-courses {
  background: url('../images/learning.jpg');
  background-size: cover !important;
  background-position: center;
  border-bottom: 1px solid white;
}

/* Transition sur les images

.portfolio img {
  height:200px; margin-top:20px; margin-bottom:20px; opacity:0.5;-webkit-transition: all 1s ease;  Safari et Chrome
  -moz-transition: all 1s ease; Firefox
  -ms-transition: all 1s ease;  Internet Explorer 9
  -o-transition: all 1s ease;  Opera
  transition: all 1s ease;
}
.portfolio img:hover {
  opacity:1;-webkit-transform:scale(1.25);  Safari et Chrome
  -moz-transform:scale(1.25);  Firefox
  -ms-transform:scale(1.25);  Internet Explorer 9
  -o-transform:scale(1.25);  Opera
  transform:scale(1.25);
}*/

    /*//////////////*/


.footer {
  /*background: -webkit-linear-gradient(90deg, rgb(0, 188, 212), rgb(96, 125, 139));*/
  /*background: linear-gradient(180deg, rgb(0, 188, 212), rgb(96, 125, 139));*/
  background-color: #bdbdbd;
}
.links:hover {
  transform: scale(1.1);
}
.fa-github:hover{
  color: #24292E;
}
.fa-linkedin:hover {
  color: #007BB6;
}

.flex-container-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.about {
  text-align: center;
  text-transform: uppercase;
}
.hobbies {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.text-center {
  text-align: center;
}

.card-link{
  height: 250px;
  width: 75%;
  background-image: url('../images/smiling-ted.png');
  background-size: cover;
}
.card-link-eff {
  background-image: url('../images/eff.jpg');
  height: 140px;
  width: 75%;
  background-size: cover;
}

.progress {
  margin-top: 5px;
}
.icon {
  font-size: 50px;
}


/*  /!\ SLIDER /!\*/

.slider {
  /*border: 1px solid black;*/
  height: 50vh;
  width: 50vw;
  background-color: black;
}
.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-slider {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.image {
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  display: flex;
}

img {
  /*width: 100%;*/
  height: 100%;
}
.round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: -40px;
  margin-right: 4px;
  opacity: 0.8;
}
.round:hover {
  cursor: pointer;
}
.arrows:hover {
  cursor: pointer;
}

.black-dot {
  background-color: black;
}
.white-dot {
  background-color: white;
}



 /*MEDIA QUERIES */

@media screen and (max-width: 800px) {
  h3 {
    text-align: center;
  }
  .flex-container {
    padding-top: 1%;
  }
  .section-container-full-height{
    padding: 0 1%;
  }
  .infos {
    text-align: center;
  }
  .links {
    text-align: center;
  }
  .flex-container-right {
    align-items: center;
    margin-top: 10px;
  }
}
