 /*/!\ PALET STYLE /!\*/
.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


/*Style on non reusable items*/

header {
  background-color: #0097a7;
}
body {
  margin: 0;
  background-image: url("../images/clean_textile.png");
}
header nav ul {
  padding-left: 0px;
  margin: 0;
}
header nav ul li {
  padding: 0 40px;
}
header nav ul li a {
  font-size: 22px;
}
footer ul {
  padding-left: 0px;
  margin: 0;
}
footer ul li{
  padding-left: 50%;
}
footer {
  padding-top: 5%;
}
/*/////////////////////////////*/
.progress-bar {
  /*margin-top: 10px;*/
  margin-left: 2px;
  border-radius: 2px;
  height: 30px;
}
.list-no-style {
  list-style: none;
}
.link-no-style {
  text-decoration: none;
}
.navbar .navbar-brand:hover {
  color:#757575;
  text-decoration: none;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container-right {
  display: flex;
  /*justify-content: left;*/
  align-items: right;
  flex-direction: column;
}
.flex-container-left {
  display: flex;
  /*justify-content: right;*/
  align-items: left;
  flex-direction: column;
}
.flex-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container-perso {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.half-size {
  width: 50%;
}
.min-size-small {
  min-width: 250px;
}
.section-container-full-height {
  padding: 0 10%;
  height: 100vh;
}
.section-container{
  padding: 1% 10%;
}
.footer {
  background-color: #b2ebf2;
}
.links:hover {
  transform: scale(1.1);
}
.fa-github:hover{
  color: #24292E;
}
.fa-linkedin:hover {
  color: #007BB6;
}

.card-link{
  height: 250px;
  width: 75%;
  background-image: url('../images/smiling-ted.png');
  background-size: cover;
}
.card-link-eff {
  background-image: url('../images/eff.jpg');
  height: 140px;
  width: 75%;
  background-size: cover;
}

.progress {
  margin-top: 5px;
}
.icon {
  font-size: 50px;
}
 /*MEDIA QUERIES */

@media screen and (max-width: 800px) {
  h3 {
    text-align: center;
  }
  .flex-container {
    padding-top: 1%;
  }
  .section-container-full-height{
    padding: 0 1%;
  }
  .infos {
    text-align: center;
  }
  .links {
    text-align: center;
  }
  .flex-container-right {
    align-items: center;
    margin-top: 10px;
  }
}
